<div class="relative-parent">
  <div class="header-title">
    <div class="title-text">
      {{title}}
    </div>
  </div>
  <div class="blog-bg" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
</div>
