
.relative-parent {
  position: relative;

  .blog-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40%;
    border-radius: 6px;
  }
}

.header-title {
  background: #e94200;
  height: 240px;
  width: 240px;
  position: absolute;
  z-index: 100;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .title-text {
    font-family: YesevaOne serif;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 57px;
    margin-top: 37%;
    color: white;
  }
}
