<div class="partners-form-block">
  <div class="title">Покупатель</div>
  <div class="form" id="dialog">
    <nb-card class="card" style="border: none; background: #F8F8F8">
      <nb-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="flex-parent">
            <div class="form-group">
              <input type="text" formControlName="address" class="form-control" placeholder="Адрес*"
                     [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Adress is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="phone" class="form-control" placeholder="Телефон*"
                     [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone number is required</div>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="fullName" class="form-control" placeholder="Имя и фамилия*"
                     [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
              <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div *ngIf="f.fullName.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="E-mail*"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group textarea">
              <textarea formControlName="text" class="form-control" placeholder="Примечания покупателя*"
                        [ngClass]="{ 'is-invalid': submitted && f.text.errors }"></textarea>
              <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
                <div *ngIf="f.text.errors.required">This is required</div>
              </div>
            </div>
          </div>
          <button type="submit" class="red-button">Оформить заказ</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
