<div class="content">
  <img src="assets/images/wheat-bg.svg" class="wheat-bg">
  <img src="assets/images/cookies-bg.svg" class="cookies-bg">
  <div class="title">
    Благодарим за оформление заказа!
  </div>
  <div class="subtitle">
    В ближайшее время наш менеджер свяжется с вами.
  </div>
</div>
