.content {
  width: 100%;
  position: relative;
  margin-top: 160px;
  margin-bottom: 300px;

  .title {
    font-size: 38px;
    color: #e74200;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    font-family: YesevaOne, sans-serif;
  }

  .subtitle {
    font-size: 18px;
    text-align: center;
    font-family: Manrope, serif;
    font-weight: 100;
  }

  .wheat-bg {
    position: absolute;
    left: -37px;;
    width: 260px;
    top: -115px;
  }

  .cookies-bg {
    position: absolute;
    right: -35px;
    top: -180px;
    width: 360px;
  }
}
