<ngx-slick-carousel class="carousel"
                    [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <div class="row">
      <div class="col-12">
        <img src="{{ slide.img }}">
      </div>
    </div>
  </div>
</ngx-slick-carousel>
<div class="slider-button" *ngIf="sliderButton">Каталог</div>
