@import "src/assets/styles/variables";

::ng-deep {
  .nb-theme-default nb-layout .layout {
    background: white !important;
  }
}

body {
  background: white !important;
}

body {
  background: white;
}

.page-layout {
  padding-left: 280px;
}
