<div class="home-page">
  <app-slick></app-slick>
  <app-partners></app-partners>
  <app-news-block></app-news-block>
  <app-partners-logo></app-partners-logo>
  <app-partners-form></app-partners-form>
  <app-social-media></app-social-media>
</div>
