<div class="checkout-page">
  <div class="checkout-row" *ngFor="let item of products">
    <div class="product-image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}"></div>
    <span class="name">{{item.title}}</span>
    <span class="type">{{item.type}}</span>
    <div class="counter">
      <span (click)="item.count = getCount('decrease', item)">-</span>
      <span class="value">{{item.count}}</span>
      <span (click)="item.count = getCount('increase', item)">+</span>
    </div>
    <img src="../../../assets/images/remove.svg" (click)="removeItem(item)" class="remove">
  </div>
</div>

<app-products-form></app-products-form>
