.checkout-page {
  .checkout-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .product-image {
      width: 15%;
      height: 150px;
      border-radius: 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &.remove {
        height: initial;
        width: initial;
        margin: auto 10px;
      }
    }

    .name {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #423F3E;
      margin: auto 10px;
    }

    .type {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #423F3E;
      margin: auto 10px;
    }

    .counter {
      border: 1px solid #DCDCDC;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 17px;
      margin: auto 10px;
      height: fit-content;

      span {
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 150%;
        color: #AAAAAA;
        padding: 0 5px;

        &.value {
          color: #868686;
        }
      }
    }
  }
}
