<div class="single-product-page">
  <div class="handlebars">
    <span class="all-products" [routerLink]="['..']">Каталог</span> > <span
    class="current-product">{{product.title}}</span>
  </div>
  <div class="product-details">
    <div class="left-block">
      <div class="current-image" [ngStyle]="{'background-image': 'url(' + currentImage + ')'}">

      </div>
      <div class="all-images">
        <div class="image" *ngFor="let image of currentType.images"
             [ngStyle]="{'background-image': 'url(' + image + ')'}" (click)="setCurrentImage(image)">
        </div>
      </div>
    </div>
    <div class="right-block">
      <div class="title">{{product.title}}</div>
      <ngb-tabset [activeId]="product.quantity[0].value" (click)="setProductType($event)">
        <ngb-tab [id]="item.value" [title]="item.value" *ngFor="let item of product.quantity">
        </ngb-tab>
      </ngb-tabset>
      <div class="description" [innerHTML]="currentType.description"></div>
      <div class="add-product" (click)="addProduct()">Добавить в корзину</div>
    </div>
  </div>
  <app-related-products [products]="products"></app-related-products>
</div>
