.single-product-page {
  .handlebars {
    padding: 80px 0 50px;

    .all-products {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #423F3E;
      padding-right: 5px;
      cursor: pointer;
    }

    .current-product {
      padding-left: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #C1C0BF;
    }
  }

  .product-details {
    display: flex;

    .left-block {
      width: 50%;

      .current-image {
        padding-top: 80%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 6px;
        margin-bottom: 24px;
      }

      .all-images {
        display: flex;
        justify-content: space-between;

        .image {
          width: calc(33.33% - 20px);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          padding-top: 30%;
          border-radius: 6px;
          cursor: pointer;

          &:focus {
            border: 3px solid #E94200;
          }

          &:hover {
            border: 3px solid #E94200;
          }
        }
      }
    }

    .right-block {
      width: 50%;
      padding: 0 20px;

      .title {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 180%;
        color: #E94200;
        margin-bottom: 30px;
        text-align: center;
      }

      .description {
        padding-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #4F4F4F;
      }

      .add-product {
        background: #E94200;
        border-radius: 100px;
        padding: 17px 49px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        margin: 60px auto 30px;
        width: fit-content;
      }
    }

    ::ng-deep {
      .nav-tabs {
        border: none;
        justify-content: center !important;
      }

      .nav-item {
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 150%;
          text-align: center;
          color: #4F4F4F;
          text-decoration: none;
          padding: 1px 15px;

          &.active {
            border: 1px solid #4F4F4F;
            box-sizing: border-box;
            border-radius: 100px;
          }
        }
      }
    }
  }
}
