.partners-form-block {
  background: #F8F8F8;
  border-radius: 6px;
  padding: 92px 20px;

  ::ng-deep {
    .nb-theme-default nb-card {
      background: #F8F8F8;
    }
  }

  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #E94200;
    padding-bottom: 14px;
  }

  .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #423F3E;
    opacity: 0.8;
    padding-bottom: 40px;
  }

  form {
    margin: auto;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    display: grid;

    .flex-parent {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }

    input {
      border: 1px solid #DCDCDC;
      box-sizing: border-box;
      border-radius: 6px;
      height: 45px;

      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        color: #7B7B7B;
      }
    }
  }

  .form-group {
    max-width: 350px;
    width: 100%;
    padding: 0 13px;
  }
}

.red-button {
  background: #E94200;
  border-radius: 100px;
  padding: 21px 49px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
