<div class="partners-form-block">
  <div class="title">Хочу стать партнером</div>
  <div class="subtitle">Заполните форму и мы предоставим<br>
    вам интересное коммерческое предложение
  </div>
  <div class="form" id="dialog">
    <nb-card class="card" style="border: none; background: #F8F8F8">
      <nb-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="flex-parent">
            <div class="form-group">
              <input type="text" formControlName="name" class="form-control" placeholder="Имя, фамилия"
                     [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="company" class="form-control" placeholder="Компания"
                     [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
              <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                <div *ngIf="f.company.errors.required">Company is required</div>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="phone" class="form-control" placeholder="Номер телефона"
                     [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone is required</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" placeholder="Email"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <button type="submit" class="red-button">Отправить</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
