<div class="table">
  <div>
    <table class="custom-table">
      <tr class="header">
        <th class="header-item" *ngFor="let column of columns" [ngClass]="column.alignItem">{{column.name}}</th>
      </tr>
      <tr class="table-row" *ngFor="let row of tableCard.docs">
        <td *ngFor="let column of columns; let columnIndex = index">
          <div class="row-item"
               [ngClass]="{'align-right': column.alignItem === 'align-right', 'date-style': column.itemStyle === 'date-style'}">
            <img [src]="tableCard.rowIcon" *ngIf="columnIndex === 0" class="row-icon">
            <div>
              <div class="row-title">
                {{column.key !== 'name' ? row[column.key] : ((row[column.key] | slice:0:row.sliceValue)
                + (row.sliceValue === 20 ? '...' : ''))}}</div>
              <div (click)="showFullName(row, column.key)" *ngIf="column.key === 'name'" class="show-full-name">
                Denumirea completa
              </div>
            </div>
          </div>
        </td>
        <div class="remove-button" (click)="removeItem(row._id)">X</div>
      </tr>
    </table>
  </div>

  <div class="footer-pagination" *ngIf="totalCount > 10">
    <div class="previous-page box" (click)="goToPrevious()">
      <
    </div>
    <div class="visible-pages">
      <div *ngFor="let item of paginationUI">
        <div class="single-page box" (click)="onPageSelected($event)" *ngIf="item.content !== '...'">
          <span [ngClass]="{ 'active-page': item.content === currentPage}">{{item.content}}</span>
        </div>
        <div *ngIf="item.content === '...'"><span>
          ...
        </span>
        </div>
      </div>
    </div>
    <div class="next-page box" (click)="goToNext()">
      >
    </div>
  </div>

  <div class="table-footer" *ngIf="showUrl">
    <div class="table-footer-url">
      <a routerLink="{{tableCard.path}}"><span>{{tableCard.footer}}</span></a>
    </div>
  </div>
</div>
