.toggle {
  display: none;

  .toggle-description {
    display: none;
  }
}

.select-title {
  display: none;
}

.select {
  display: none;
}

.table {
  border: 1px solid #E2E2EA;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 52px;
  min-height: 616px;

  th {
    vertical-align: middle;
    max-width: 255px;
  }

  td {
    background: white;
    max-width: 255px;
  }

  .table-row {
    &:hover {
      td {
        background-color: #f5f5f5;
      }
    }
  }

  .table-header {
    padding-left: 24px;
    background: linear-gradient(90.74deg, #4F4A69 11.12%, #2E2A43 96.46%);
    height: 73px;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    z-index: 20;

    .table-icon {
      margin: 23px 0px;
    }

    .table-header-name {
      font-family: 'Mulish', sans-serif;
      font-size: 24px;
      color: white;
      font-weight: 800;
      margin: 26px 10px;
    }

    .table-header-period {
      background: #2F2B44;
      border-radius: 38px;
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: rgba(218, 218, 218, 1);
      height: 22px;
      width: 84px;
      margin: 25px 0px;
      padding: 2px;
    }

    .bg-image {
      position: absolute;
      z-index: 0;
    }

    .square-round-mobile {
      display: none;
    }

    .circle-border-white {
      bottom: 0;
      right: 12.5px;
    }

    .circle-border-orange {
      right: 127px;
      top: 0px
    }

    .square-round {
      right: 250px;
      bottom: 0px;
    }

    .table-rectangle-gradient {
      right: 0px;
      bottom: 0px;
    }
  }

  .custom-table {
    width: 100%;
    z-index: 15;

    .header {
      background: rgba(249, 249, 251, 1);

      .header-item {
        font-family: 'Mulish', sans-serif;
        text-transform: uppercase;
        color: rgba(145, 146, 168, 1);
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.14em;
      }
    }

    .table-row {
      background: white;
      justify-content: space-between;
      padding: 20px 24px;
      border: 1px solid #E2E2EA;

      .row-item {
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
        color: rgba(76, 80, 100, 1);
        letter-spacing: 0.01em;
        align-self: center;
        padding: 0 12px;
        display: flex;
        align-items: center;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        .row-icon {
          padding-right: 24px;
        }

        .row-title {
          max-width: 470px;
        }

        .show-full-name {
          display: none;
        }
      }
    }

    .header-title {
      height: 56px;
      display: flex;
      align-items: center;
      z-index: 10;
    }
  }

  .table-footer {
    height: auto;
    background: rgba(249, 249, 251, 1);
    border-radius: 0px 0px 8px 8px;

    .table-footer-url {
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding: 20px 24px;

      .arrow {
        margin-left: 9px;
      }
    }
  }

  .footer-pagination {
    display: flex;
    margin: 20px;
    color: rgba(89, 89, 89, 1);
    font-family: 'Mulish', sans-serif;
    font-size: 14px;

    .box {
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 8px;
      padding: 5px 8px;
      min-width: 32px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .visible-pages {
      display: flex;

      .dots {
        margin: 10px 10px 0 2px;
      }

      .single-page {
        .active-page {
          border-color: rgba(90, 83, 196, 1);
          color: rgba(90, 83, 196, 1);

        }
      }
    }
  }
}


.align-right {
  text-align: right;
  justify-content: flex-end;

  .row-title {
    margin-left: auto;
  }
}

.date-style {
  background: rgba(249, 249, 251, 1);
  padding: 3px 0px 0px 10px;
  border: 1px solid #E2E2EA;
  border-radius: 8px;
  justify-content: center;
  width: 117px;
}


@media (max-width: 991px) {
  .select {
    display: block;
  }
  .table {
    min-height: initial;

    .table-header {
      padding: 0 0 0 16px;
      height: 49px;

      .table-icon {
        margin: 12px 0px;
      }

      .table-header-name {
        font-size: 18px;
        margin: 15px 10px;
      }

      .table-header-period {
        margin: 14px 0px;
        z-index: 10;
      }

      .circle-border-white {
        width: 43px;
        right: -10px;
      }

      .circle-border-orange {
        width: 43px;
        right: 57px;
      }

      .square-round-mobile {
        display: block;
        bottom: 0;
        left: 143px;
      }

      .square-round {
        display: none;
      }

      .table-rectangle-gradient {
        width: 137px;
      }
    }

    .custom-table {
      .header {
        .header-item {
          font-size: 12px;
          padding: 6px 16px;
        }
      }

      .table-row {
        .row-item {
          .show-full-name {
            display: block;
            color: rgba(90, 83, 196, 1);
            font-size: 11px;
          }

          .row-icon {
            padding-right: 16px;
          }
        }
      }
    }
  }
  .toggle {
    margin-bottom: 13px;
    display: flex;

    .toggle-description {
      display: block;
      font-family: 'Mulish', sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #6C6C6C;
      margin: 0px 13px;
    }
  }
  .select-title {
    display: block;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    color: #4C5064;
    padding: 0px 2px;
    margin-top: 14px;
    line-height: 24px;
  }
  ::ng-deep {
    .nb-theme-default nb-select.appearance-outline.size-medium .select-button {
      border-radius: 4px;
      padding: 8px 12px;
      margin-bottom: 13px;
      margin-top: 2px;
      border: 1px solid #D9D9D9;
    }

    .nb-theme-default nb-select.size-medium:not(.full-width) {
      width: 100%;
    }
  }
}

.remove-button {
  cursor: pointer;
  background: red;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
