<div class="sidebar-block">
  <div class="sidebar-logo">
    <img src="../../../../assets/images/logo.svg">
  </div>
  <div class="sidebar-tabs">
    <div class="tab" *ngFor="let item of sidebarTabs" [routerLink]="item.url" routerLinkActive="isActive">{{item.name}}</div>
  </div>
  <div class="checkout" [routerLink]="'/checkout'">
    <img src="../../../../assets/images/checkout.svg">
  </div>
  <div class="social-links">
    <div class="social-parent">
      <img src="../../../../assets/images/instagram.svg" [routerLink]="'..'">
      <img src="../../../../assets/images/youtube.svg" [routerLink]="'..'">
      <img src="../../../../assets/images/facebook.svg" [routerLink]="'..'">
      <img src="../../../../assets/images/vk.svg" [routerLink]="'..'">
    </div>
  </div>
  <div class="bottom-block">
    <div class="contacts">
      <div class="phone">
        <a href="tel:+37300000000">+373 00000000</a>
      </div>
      <div class="email">
        <a href="mailto:ami@mail.ru">ami@mail.ru</a>
      </div>
    </div>
    <div class="languages">
      <div class="language">EN</div>
      <div class="language">RU</div>
      <div class="language">RO</div>
    </div>
  </div>
</div>
