.sidebar-block {
  max-width: 280px;
  border-right: 1px solid #F0ECE9;
  background: #FFFFFF;
  padding: 17px 47px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;

  .sidebar-logo {
    width: 172px;
    height: 170px;
  }

  .sidebar-tabs {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #E94200;
    align-items: center;
    justify-content: center;
    display: grid;

    .tab {
      cursor: pointer;
      max-height: 44px;
      font-family: Manrope, sans-serif;
      font-weight: 500;
      font-size: 16px;
      padding: 12px 48px 12px 30px;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .isActive {
      background: #E94200;
      border-radius: 100px;
      color: white;

      &:focus {
        border: none;
      }
    }
  }

  .social-links {
    .social-parent {
      display: flex;
      justify-content: space-around;

      img {

      }
    }
  }

  .checkout {
    padding-top: 67px;
    display: flex;
    justify-content: center;
  }

  .contacts {
    display: grid;
    justify-content: center;
    margin-bottom: 15px;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.1em;
      color: #423F3E;
      text-decoration: none;
    }

    div {
      text-align: center;
    }
  }

  .languages {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin: auto;
    width: 100px;
  }
}

.bottom-block {
  margin-top: auto;
}
