.single-product {
  margin-bottom: 28px;

  a {
    text-decoration: none !important;
  }

  .image {
    padding-top: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 15px;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F4F4F;
    padding: 21px 5px;
  }

  &:hover {
    background: white;
    box-shadow: 0px 6px 30px rgba(116, 116, 116, 0.12);
    border-radius: 15px;
  }
}
