.social-media-block {

  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    .social {
      background: #E94200;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 20px;

      a {
        margin: initial;
      }
    }
  }

  .hashtag {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 180%;
    color: #E94200;
    padding: 20px;
    text-align: center;
  }

  .social-images {
    display: flex;
    flex-flow: wrap;

    .image {
      width: calc(33.33% - 10px);
      padding-top: 30%;
      margin: 5px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
