<div class="social-media-block">
  <div class="section-title">Узнайте о нас больше</div>
  <div class="social-icons">
    <div class="social" *ngFor="let item of socialLinks"><a [href]="item.href"><img [src]="item.icon"></a></div>
  </div>
  <div class="hashtag">#ВСЕЛЮБЯТAMI</div>
  <div class="social-images">
    <div class="image" [ngStyle]="{'background-image': 'url(' + image + ')'}" *ngFor="let image of socialImages"></div>
  </div>
</div>
