<div class="partners-block">
  <div class="section-title">
    Нам доверяют
  </div>
  <div class="partners-parent">
    <div class="partner" *ngFor="let item of partners">
      <img [src]="item">
    </div>
  </div>
</div>
