.partners-block {
  .partners-parent {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background: white;
    padding: 28px 15px;

    .partner {
      width: 25%;
      margin: 14px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
