<div class="form" id="dialog">
  <nb-card class="card">
    <nb-card-header id="header">Add product</nb-card-header>
    <nb-card-body class="form-group">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Title</label>
          <input type="text" formControlName="title" class="form-control" placeholder="Title"
                 [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
            <div *ngIf="f.title.errors.minlength">Title must be at least 2 characters</div>
            <div *ngIf="f.title.errors.maxlength">Title must be maximum 50 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" formControlName="description" class="form-control" placeholder="Description"
                 [ngClass]="{ 'is-invalid': submitted && f.description.errors }"/>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Description is required</div>
            <div *ngIf="f.description.errors.minlength">Description must be at least 2 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Slug</label>
          <input type="text" formControlName="slug" class="form-control" placeholder="Slug"
                 [ngClass]="{ 'is-invalid': submitted && f.slug.errors }"/>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.slug.errors.required">Slug is required</div>
            <div *ngIf="f.slug.errors.minlength">SLug must be at least 2 characters</div>
            <div *ngIf="f.slug.errors.maxlength">Slug must be maximum 50 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Price</label>
          <input type="text" formControlName="price" class="form-control" placeholder="Price"/>
        </div>

        <div class="form-group">
          <label>Meta title</label>
          <input type="text" formControlName="metaTitle" class="form-control" placeholder="Meta title"
                 [ngClass]="{ 'is-invalid': submitted && f.metaTitle.errors }"/>
          <div *ngIf="submitted && f.metaTitle.errors" class="invalid-feedback">
            <div *ngIf="f.metaTitle.errors.required">Meta title is required</div>
            <div *ngIf="f.metaTitle.errors.minlength">Meta title must be at least 2 characters</div>
            <div *ngIf="f.metaTitle.errors.maxlength">Meta title must be maximum 50 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Meta description</label>
          <input type="text" formControlName="metaDescription" class="form-control" placeholder="Meta description"
                 [ngClass]="{ 'is-invalid': submitted && f.metaDescription.errors }"/>
          <div *ngIf="submitted && f.metaDescription.errors" class="invalid-feedback">
            <div *ngIf="f.metaDescription.errors.required">Meta description is required</div>
            <div *ngIf="f.metaDescription.errors.minlength">Meta description must be at least 2 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Meta keywords</label>
          <input type="text" formControlName="metaKeywords" class="form-control" placeholder="Meta keywords"
                 [ngClass]="{ 'is-invalid': submitted && f.metaKeywords.errors }"/>
          <div *ngIf="submitted && f.metaKeywords.errors" class="invalid-feedback">
            <div *ngIf="f.metaKeywords.errors.required">Meta keywords is required</div>
            <div *ngIf="f.metaKeywords.errors.minlength">Meta keywords must be at least 2 characters</div>
            <div *ngIf="f.metaKeywords.errors.maxlength">Meta keywords must be maximum 50 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Tags</label>
          <input type="text" formControlName="tags" class="form-control" placeholder="Tags"
                 [ngClass]="{ 'is-invalid': submitted && f.tags.errors }"/>
          <div *ngIf="submitted && f.metaKeywords.errors" class="invalid-feedback">
            <div *ngIf="f.tags.errors.required">Meta keywords is required</div>
            <div *ngIf="f.tags.errors.minlength">Meta keywords must be at least 2 characters</div>
            <div *ngIf="f.tags.errors.maxlength">Meta keywords must be maximum 50 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Image</label>
          <input type="file" formControlName="image" class="form-control" placeholder="Image" accept="image/*"/>
        </div>

        <div>
          <button class="btn btn-primary">Submit</button>
          <button class="btn btn-danger" (click)="closeDialog()">Cancel</button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
