.hashtag {
  display: flex;
  margin: 24px 0;
}

::ng-deep {
  .nb-theme-default a {
    color: #e94200;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    line-height: inherit;
    background: rgba(202, 82, 10, 0.1);
    margin-right: 8px;
  }

  .nav-tabs .nav-link {
    border: none;
    border-radius: 6px;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background: #e94200;
  }

  .nav-tabs {
    border-bottom: none;
  }
}

.news-block {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 20px;

  .news {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 320px;
    margin-bottom: 28px;
    height: 320px;
    position: relative;
    color: white;
    border-radius: 6px;

    &:nth-child(7n - 6) {
      width: calc(33.33% - 14px);
    }

    &:nth-child(7n - 5) {
      width: calc(33.33% - 28px);
    }

    &:nth-child(7n - 4) {
      width: calc(33.33% - 14px);
    }

    &:nth-child(7n - 3) {
      width: calc(40% - 14px);
    }

    &:nth-child(7n - 2) {
      width: calc(60% - 14px);
    }

    &:nth-child(7n - 1) {
      width: calc(55% - 14px);
    }

    &:nth-child(7n) {
      width: calc(45% - 14px);
    }

    .date {
      padding: 30px 0 0 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      position: relative;
      z-index: 1;
    }

    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      color: #FFFFFF;
      margin-bottom: 20px;
      height: 57px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      padding: 0 30px;
      margin-top: 140px;
      cursor: pointer;
    }

    .read-more {
      padding-left: 30px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
      position: relative;
      z-index: 1;

      img {
        padding-left: 7px;

        &.red {
          display: none;
        }
      }
    }

    .absolute-layout {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000000;
      opacity: 0.5;
    }

    &:hover {
      .absolute-layout {
        display: none;
      }

      .read-more {
        color: #E94200;

        img {
          padding-left: 7px;

          &.red {
            display: initial;
          }

          &.white {
            display: none;
          }
        }
      }
    }
  }
}
