<app-category-header [image]="'http://placehold.it/350x150/000000'" [title]="'Блог'"></app-category-header>
<div class="section-title">
  Наши последние новости
</div>
<div class="hashtag">
  <ngb-tabset>
    <ngb-tab [id]="item.id" [title]="item.name" *ngFor="let item of categories">
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="news-block">
  <div class="news" *ngFor="let item of news" [ngStyle]="{'background-image': 'url(' + item.image + ')'}" [routerLink]="['1']">
    <div class="date" [innerHTML]="getDate(item.date)"></div>
    <div class="title">{{item.title}}</div>
    <div class="read-more">Читать
      <img src="../../../assets/images/arrow-left-white.svg" class="white">
      <img src="../../../assets/images/arrow-left-red.svg" class="red">
    </div>
    <div class="absolute-layout"></div>
  </div>
</div>

<app-partners-form></app-partners-form>
<app-social-media></app-social-media>
