<div class="section-title">
  AMI везде
</div>
<div class="ami-everywhere-block">
  <div class="image" *ngFor="let image of images" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
</div>
