.ami-everywhere-block {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 50px;

  .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 330px;
    margin-bottom: 20px;
    border-radius: 6px;

    &:nth-child(4n - 3) {
      width: calc(40% - 10px);
    }

    &:nth-child(4n - 2) {
      width: calc(60% - 10px);
    }

    &:nth-child(4n - 1) {
      width: calc(60% - 10px);
    }

    &:nth-child(4n) {
      width: calc(40% - 10px);
    }
  }
}
