<div class="planets-page">
<!--  <div class="hint-text">-->
<!--    Нажми на планету, чтобы узнать о ней больше-->
<!--  </div>-->
<!--  <div class="planet-container" [ngStyle]="{'background-image': 'url(assets/images/kids/header-bg.svg)'}">-->
<!--    <div class="planet-block sun">-->
<!--      <img src="../../../assets/images/kids/sun.svg">-->
<!--    </div>-->
<!--  </div>-->
  <div class="general-info">
    <div class="title">
      Исследуй мир космоса
    </div>

    <div class="general-item" *ngFor="let item of generalInfo">
      <div class="block-left" *ngIf="item.position === 'left'">
        <div class="content-block">
          <div class="image">
            <div class="image-block" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            </div>
          </div>
          <div class="content" [innerHTML]="item.description"></div>
        </div>
      </div>
      <div class="block-right" *ngIf="item.position === 'right'">
        <div class="content-block">
          <div class="content" [innerHTML]="item.description"></div>
          <div class="image">
            <div class="image-block" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="general-end">
      Запуск автоматических космических станций к планетам позволил значительно расширить, а во многом и пересмотреть
      представления о планетах: появилась возможность увидеть фотографии поверхности, исследовать грунт и атмосферу
      планет.
    </div>
  </div>
</div>

<div class="small-planets">
  <div class="small-item" *ngFor="let item of smallPlanets">
    <div class="small-left" *ngIf="item.position === 'left'">
      <div class="block">
        <div class="text">
          <div class="title" [innerHTML]="item.title"></div>
          <div class="description" [innerHTML]="item.description"></div>
        </div>
        <div class="small-image">
          <div class="small-planet" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
        </div>
      </div>
    </div>

    <div class="small-right" *ngIf="item.position === 'right'">
      <div class="block">
        <div class="small-image">
          <div class="small-planet" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
        </div>
        <div class="text">
          <div class="title" [innerHTML]="item.title"></div>
          <div class="description" [innerHTML]="item.description"></div>
        </div>
      </div>
    </div>

    <div class="additional-info" *ngIf="item.additional" [innerHTML]="item.additional"></div>
  </div>
</div>


<div class="intermediary-text">
  <div class="title">
    Планеты - гиганты
  </div>
  <div class="intermediary-description">
    В 1977 году американскими учёными и инженерами в рамках программы Вояджер была запущена автоматическая межпланетная
    станция в сторону Юпитера.<br><br>
    Раз в 175 лет Юпитер, Сатурн, Нептун и Плутон располагаются таким образом относительно Земли, что запущенный
    космический аппарат может обследовать все эти планеты за один полёт.<br><br>
    Учёные рассчитали, что при определённых условиях космический аппарат, подлетая к планете, попадает в гравитационную
    пращу, планета сама посылает аппарат дальше к другой планете.<br><br>
    Расчёты оказались верными. Земляне смогли увидеть эти далёкие планеты и их спутники глазами космических роботов, на
    Землю была передана уникальная информация.<br><br>
  </div>
</div>


<div class="giant-planets">
  <div class="small-item" *ngFor="let item of giantPlanets">
    <div class="small-left" *ngIf="item.position === 'left'">
      <div class="block">
        <div class="text">
          <div class="title" [innerHTML]="item.title"></div>
          <div class="description" [innerHTML]="item.description"></div>
        </div>
        <div class="small-image">
          <div class="small-planet" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
        </div>
      </div>
    </div>

    <div class="small-right" *ngIf="item.position === 'right'">
      <div class="block">
        <div class="small-image">
          <div class="small-planet" [ngStyle]="{'background-image': 'url('+ item.image +')'}"></div>
        </div>
        <div class="text">
          <div class="title" [innerHTML]="item.title"></div>
          <div class="description" [innerHTML]="item.description"></div>
        </div>
      </div>
    </div>

    <div class="additional-info" *ngIf="item.additional" [innerHTML]="item.additional"></div>
  </div>
</div>

<div class="see-all-products">
  <div class="title">
    Исследуй мир космоса вместе с AMI!
  </div>
  <div class="button" [routerLink]="'/products'">Все виды печенья Galaxy</div>
</div>
