.planets-page {
  margin-right: 36px;

  .hint-text {
    font-family: YesevaOne serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: #828282;
  }

  .planet-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 30px;
    min-height: 730px;
    margin-top: 7px;
    margin-bottom: 85px;
  }

  .general-info {
    .title {
      font-family: YesevaOne serif;
      font-weight: 800;
      font-size: 38px;
      line-height: 150%;
      text-align: center;
      margin-bottom: 85px;
    }

    .general-item {
      .block-left {
        position: relative;
        display: flex;

        .content-block {
          display: flex;
          margin-bottom: 70px;

          .image {
            position: relative;
            width: 50%;

            .image-block {
              height: 100%;
              width: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 30px;
              padding-top: 60%;
            }
          }

          .content {
            font-family: Manrope, sans-serif;
            font-weight: 100;
            font-size: 16px;
            margin: auto 0 auto 28px;
            width: 50%;
          }
        }
      }

      .block-right {
        position: relative;
        display: flex;

        .content-block {
          display: flex;
          margin-bottom: 70px;

          .image {
            position: relative;
            width: 50%;

            .image-block {
              height: 100%;
              width: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-radius: 30px;
              padding-top: 60%;
            }
          }

          .content {
            font-family: Manrope, sans-serif;
            font-weight: 100;
            font-size: 16px;
            margin: auto 28px auto 0;
            width: 50%;
          }
        }
      }
    }

    .general-end {
      text-align: center;
      font-family: Manrope, sans-serif;
      font-weight: 100;
      font-size: 16px;
      max-width: 780px;
      margin: 0 auto 140px auto;
    }
  }
}

.small-planets, .giant-planets {
  .small-item {
    .small-left {
      position: relative;
      display: flex;

      .block {
        display: flex;
        margin-bottom: 70px;

        .small-image {
          position: relative;
          width: 50%;
          margin-right: -36px;

          .small-planet {
            height: 100%;
            width: 100%;
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 30px;
            padding-top: 60%;
          }
        }

        .text {
          width: 50%;

          .title {
            font-family: YesevaOne sans-serif;
            font-weight: 800;
            font-size: 38px;
            line-height: 150%;
            color: #CA520A;
            margin: auto 28px 50px 0;
          }

          .description {
            font-family: Manrope, sans-serif;
            font-weight: 100;
            font-size: 16px;
            margin: auto 28px auto 0;
          }
        }

        .additional-text {
          font-family: Manrope, sans-serif;
          font-weight: 100;
          font-size: 16px;
          width: 100%;
        }
      }
    }

    .small-right {
      position: relative;
      display: flex;

      .block {
        display: flex;
        margin-bottom: 70px;

        .small-image {
          position: relative;
          width: 50%;
          margin-left: -36px;

          .small-planet {
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 30px;
            padding-top: 60%;

          }
        }

        .text {
          width: 50%;

          .title {
            font-family: YesevaOne sans-serif;
            font-weight: 800;
            font-size: 38px;
            line-height: 150%;
            color: #CA520A;
            margin: auto 0 50px 28px;
          }

          .description {
            font-family: Manrope, sans-serif;
            font-weight: 100;
            font-size: 16px;
            margin: auto 0 auto 28px;
          }
        }

        .additional-text {
          font-family: Manrope, sans-serif;
          font-weight: 100;
          font-size: 16px;
          width: 100%;
        }
      }
    }
  }
}


.intermediary-text {
  margin: 140px auto;
  max-width: 790px;

  .title {
    font-family: YesevaOne serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 50px;
  }

  .intermediary-description {
    font-family: Manrope, sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #63615F;
  }
}

::ng-deep {
  .layout-container .content .columns nb-layout-column {
    padding-right: 0 !important;
  }
}

.additional-info {
  margin-bottom: 50px;
  padding: 0 100px 0 0;
}

.see-all-products {
  .title {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 150%;
    color: #CA520A;
    text-align: center;
    margin: 30px auto;
  }

  .button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #CA520A;
    cursor: pointer;
    border: 1px solid #CA520A;
    padding: 5px 12px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
  }
}

.planet-block {
  &.sun {
    position: absolute;
    transform: translate(20px, -50%);
    top: 50%;
  }
}
