<div class="blog-content">
  <app-category-header [title]="'Блог'" [image]="'assets/images/blog-header.svg'"></app-category-header>
  <div class="blog-title">
    Мы открыли новый магазин<br>
    добавили новые рецепты
  </div>
  <div class="create-date" [innerHTML]="getDate(blogPost.date)"></div>
  <div class="hashtag">
    <ngb-tabset>
      <ngb-tab [id]="item.id" [title]="item.name" *ngFor="let item of blogPost.categories">
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="article-img" [ngStyle]="{'background-image': 'url(' + blogPost.image + ')'}"></div>
  <div class="article-text" [innerHTML]="blogPost.content"></div>
  <app-partners-form></app-partners-form>
</div>
