.blog-content {
  margin-bottom: 56px;

  .blog-title {
    font-family: YesevaOne serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 24px;
  }
  .create-date {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    color: rgba(99, 97, 95, 1);
  }
  .hashtag {
    display: flex;
    margin: 24px 0;
  }
  .article-text {
    margin: 65px 0;
    padding: 0 80px;
  }
  .article-img {
    width: 100%;
    max-height: 410px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40%;
    border-radius: 6px;
  }
}

::ng-deep {
  .nb-theme-default a {
    color: #e94200;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    line-height: inherit;
    background: rgba(202, 82, 10, 0.1);
    margin-right: 8px;
  }
  .nav-tabs .nav-link {
    border: none;
    border-radius: 6px;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background: #e94200;
  }
  .nav-tabs {
    border-bottom: none;
  }
}
