#header {
  font-size: 16px;
  padding-bottom: 17px;
  padding-top: 17px;
}

button{
  margin: 10px 10px 10px 0;
}

.nb-theme-corporate .input-group-addon, .nb-theme-corporate .form-control {
  padding: 5px 8px!important;
}

.card {
  width: 90vw;
  max-width: 600px;
}
