.product-category-page {
  .content {
    position: relative;
    display: flex;

    .products {
      display: flex;
      flex-flow: wrap;
      width: calc(100% - 260px);
      justify-content: space-between;
      margin-top: 25px;

      .product {
        width: calc(33.33% - 20px);
      }
    }
  }

  .categories-tabs {
    margin-top: 70px;

    ::ng-deep {
      .nav-tabs {
        border-bottom: 1px solid #E8E8E8;
        justify-content: center !important;
      }

      .nav-item {
        a {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: #63615F;
          text-decoration: none;
          border: none;

          &.active {
            border: none;
            color: #CA520A;
            position: relative;

            &::after {
              content: ' ';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              background: #CA520A;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.product-filters {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

::ng-deep {
  .nb-theme-default nb-accordion nb-accordion-item:last-child.collapsed nb-accordion-item-header {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .nb-theme-default nb-accordion nb-accordion-item-body .item-body {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .nb-theme-default nb-accordion nb-accordion-item-header {
    margin-bottom: 20px;
  }

  .nb-theme-default nb-accordion {
    display: block;
    box-shadow: none;
    background: transparent;
  }

  .nb-theme-default nb-accordion nb-accordion-item-header {
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 6px;
    height: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #63615F;
  }

  .nb-theme-default nb-accordion nb-accordion-item-body .item-body {
    padding: 30px 22px;
  }

  nb-checkbox {
    padding: 9px 0;

  }

  .nb-theme-default nb-checkbox.status-basic .custom-checkbox.checked {
    background-color: #CA520A;
    border-color: #CA520A;
    width: 16px;
    height: 16px;
  }

  .nb-theme-default nb-checkbox.status-basic .custom-checkbox:hover.indeterminate, .nb-theme-default nb-checkbox.status-basic .custom-checkbox:hover.checked {
    background-color: #CA520A;
    border-color: #CA520A;
    width: 16px;
    height: 16px;
  }

  .nb-theme-default nb-checkbox .text {
    line-height: 28px;
  }

  .nb-theme-default nb-checkbox.status-basic .custom-checkbox {
    width: 16px;
    height: 16px;
  }

  .nb-transition .text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #63615F;
    opacity: 0.6;
  }
}

.product-top-actions {
  display: flex;
  flex-flow: wrap;

  .selected-parent {
    width: fit-content;
    border: 1px solid #E8E8E8;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 15px 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #63615F;
    cursor: pointer;

    img {
      padding-left: 5px;
    }
  }
}

.product-top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-pdf {
  border-bottom: 1px solid #CA520A;
  padding-bottom: 7px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 10px;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #CA520A;
    padding-right: 12px;
  }
}

.footer-pagination {
  display: flex;
  margin: 20px;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  justify-content: center;
  border-top: 1px solid #E8E8E8;
  padding-top: 15px;

  .box {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #C1C0BF;
    border-radius: 4px;
    margin-right: 8px;
    padding: 5px 8px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .visible-pages {
    display: flex;
    cursor: pointer;

    div {
      display: flex;
      align-items: center;
    }

    .dots {
      margin: 10px 10px 0 2px;
    }

    .single-page {
      .active-page {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        color: #423F3E;
      }
    }
  }
}
