<div class="product-category-page">
  <app-category-header [title]="'Каталог'" [image]="'http://placehold.it/350x150/000000'"></app-category-header>
  <div class="categories-tabs">
    <ngb-tabset [activeId]="'1'">
      <ngb-tab [id]="item.id" [title]="item.title" *ngFor="let item of productCategoryTabs">
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="product-top-actions">
    <div class="filter" *ngFor="let item of selectedFilters">
      <div class="selected-parent" (click)="removeSelectedFilter(item)"><span>{{item.name}}</span><img
        src="../../../assets/images/close-filter.svg"></div>
    </div>
    <div class="download-pdf">
      <span>Скачать каталог .pdf</span><img
      src="../../../assets/images/download.svg">
    </div>
  </div>
  <div class="content">
    <div class="products">
      <div class="product" *ngFor="let product of products">
        <app-product-card [title]="product.title" [image]="product.image" [url]="product.url"></app-product-card>
      </div>
    </div>
    <div class="product-filters">
      <nb-accordion>
        <nb-accordion-item *ngFor="let filter of filters">
          <nb-accordion-item-header>
            {{filter.name}}
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-checkbox (checkedChange)="addFilter(check, check.checked)"
                         *ngFor="let check of filter.items" [checked]="check.checked"
                         [id]="check.name + '_' + check.id">{{check.name}}</nb-checkbox>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
  <div class="footer-pagination" *ngIf="count > 10">
    <div class="previous-page box" (click)="goToPrevious()">
      <img src="../../../assets/images/pagination-arrow-left.svg">
    </div>
    <div class="visible-pages">
      <div *ngFor="let item of paginationUI">
        <div class="single-page box" (click)="onPageSelected($event)" *ngIf="item.content !== '...'">
          <span [ngClass]="{ 'active-page': item.content === currentPage}">{{item.content}}</span>
        </div>
        <div *ngIf="item.content === '...'"><span>
          <img src="../../../assets/images/pagination-dots.svg" class="dots">
        </span>
        </div>
      </div>
    </div>
    <div class="next-page box" (click)="goToNext()">
      <img src="../../../assets/images/pagination-arrow-right.svg">
    </div>
  </div>
  <app-related-products [products]="products"></app-related-products>
</div>
