<div class="main-news">
  <div class="section-title">
    Мы самые вкусные
  </div>

  <div class="news-parent">
    <div class="news-item" *ngFor="let item of news; let index= index">
      <div class="block-left" *ngIf="item.position === 'left'">
        <div class="content-block">
          <div class="title">
            {{item.title}}
          </div>
          <div class="content">
            {{item.content}}
          </div>
          <img src="../../../../assets/images/news-left.svg">
        </div>
        <div class="image-block" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        </div>
      </div>
      <div class="block-right" *ngIf="item.position === 'right'">
        <div class="image-block" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">

        </div>
        <div class="content-block">
          <div class="title">
            {{item.title}}
          </div>
          <div class="content">
            {{item.content}}
          </div>
          <img src="../../../../assets/images/news-right-first.svg" *ngIf="index % 4 === 1">
          <img src="../../../../assets/images/news-right-second.svg" *ngIf="index % 4 === 3">
        </div>
      </div>
    </div>
  </div>
</div>
