.main-news {
  .news-parent {
    .news-item {
      margin-bottom: 18px;
      border-radius: 6px;

      .content-block {
        .title {
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 150%;
          text-align: center;
          color: #FFFFFF;
          padding-bottom: 16px;
        }

        .content {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 160%;
          text-align: center;
          color: #FFFFFF;
          opacity: 0.8;
          padding: 0 10px 15px;
        }
      }

      .block-left {
        position: relative;
        display: flex;

        .content-block {
          background: #A7BB61;
          width: 50%;
          padding: 110px 30px 110px 130px;

          img {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }

        .image-block {
          width: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .block-right {
        position: relative;
        display: flex;

        .content-block {
          background: #FDF4DE;
          width: 50%;
          padding: 110px 130px 110px 30px;

          .title, .content {
            color: #423F3E;
          }

          img {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }

        .image-block {
          width: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
