.related-products-block {
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: left;
    color: #E94200;
    padding: 80px 0 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    app-product-card {
      width: calc(25% - 20px);
    }

    .product {

    }
  }
}
