<div class="related-products-block">
  <div class="title">
    ВАМ МОЖЕТ ПОНРАВИТЬСЯ
  </div>
  <div class="content">
    <app-product-card *ngFor="let product of products" [title]="product.title" [url]="product.url"
                      [image]="product.image" class="product"></app-product-card>
  </div>
</div>
