.description {
  position: relative;
  .description-text{
    text-align: center;
    max-width: 767px;
    margin: 0 auto;
  }
  .wheat {
    position: absolute;
    left: -37px;
    width: 170px;
    top: 10px;
  }
  .cookies {
    position: absolute;
    right: -35px;
    top: -135px;
    width: 200px;
  }
}

.advantages {
  margin-top: 40px;
  width: 100%;
  background: #fdf4de;
  .advantages-title {
    font-family: Yeseva One, serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #E94200;
    padding-top: 95px;
    padding-bottom: 65px;
  }
  .items-why {
    display: flex;
    padding-bottom: 85px;
    justify-content: space-around;
    .item {
      width: 160px;
      height: 160px;
      border-radius: 30px;
      border: 2px solid #F5E4DA;
      text-align: center;
    }
  }
}

.certificates {
  margin-top: 115px;
  .title {
    font-family: Yeseva One serif;
    font-weight: 800;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #423F3E;
    padding-bottom: 100px;
  }
  .certif-row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
}

.ami-photos {
  margin: 90px 0;
}
