<app-slick [sliderButton]="false"></app-slick>
<div class="description">
  <div class="description-text" [innerHTML]="description.text"></div>
  <img src="assets/images/wheat-bg.svg" class="wheat">
  <img src="assets/images/cookies2.svg" class="cookies">
</div>
<div class="advantages">
  <div class="advantages-title">
    Почему вы должны выбрать нас
  </div>
  <div class="items-why">
    <div class="item">
      <img src="assets/images/trust-reasons/production.svg">
      Возможности производства
    </div>
    <div class="item">
      <img src="assets/images/trust-reasons/delivery.svg">
      Быстрая доставка
    </div>
    <div class="item">
      <img src="assets/images/trust-reasons/quality.svg">
      Высокое качество
    </div>
    <div class="item">
      <img src="assets/images/trust-reasons/range.svg">
      Широкий ассортимент
    </div>
    <div class="item">
      <img src="assets/images/trust-reasons/marketing.svg">
      Маркетинговая поддержка
    </div>
  </div>
</div>
<div class="certificates">
  <div class="title">
    Мы делаем качественную продукцию
  </div>
  <div class="certif-row">
    <img src="assets/images/certificate.svg">
    <img src="assets/images/certificate.svg">
    <img src="assets/images/certificate.svg">
    <img src="assets/images/certificate.svg">
  </div>
</div>
<app-partners-logo></app-partners-logo>
<app-ami-everywhere></app-ami-everywhere>
<app-partners-form></app-partners-form>
