<div class="partners-block">
  <div class="image" *ngFor="let item of partners"
       [ngStyle]="{'background-image': 'url(\'' + item.image + '\')'}">
    <div class="title-block">{{item.title}}</div>
  </div>
</div>
