.partners-block {
  display: flex;
  flex-flow: wrap;
  position: relative;

  .image {
    width: 500px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 14px 0;
    display: flex;
    mix-blend-mode: normal;
    border-radius: 6px;

    &:nth-child(7n - 6) {
      width: calc(60% - 14px);
      margin-right: 14px;
    }

    &:nth-child(7n - 5) {
      width: calc(40% - 14px);
      margin-left: 14px;
    }

    &:nth-child(7n - 4) {
      width: calc(33.33% - 14px);
      margin-right: 14px;
    }

    &:nth-child(7n - 3) {
      width: calc(33.33% - 14px);
      margin-left: 14px;
      margin-right: 33.33%;
    }

    &:nth-child(7n - 2) {
      width: calc(22% - 14px);
      margin-right: 14px;
    }

    &:nth-child(7n - 1) {
      width: calc(45% - 14px);
      margin-left: 14px;
      margin-right: 14px;
    }

    &:nth-child(7n - 0) {
      width: calc(33.33% - 28px);
      right: 0;
      margin-top: -235px;
      height: 469px;
      position: relative;
      margin-left: auto;
    }

    .title-block {
      background: rgba(255, 255, 255, 0.8);
      opacity: 0.8;
      backdrop-filter: blur(10px);
      border-radius: 64px;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #E94200;
      width: fit-content;
      margin: auto auto 22px auto;
      padding: 6px 28px;
    }
  }
}
