body{
  padding: 0 30px;
}
.custom-container {
  width: 100%;
  padding: 45px;
}

.section-title {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 150%;
  color: #423F3E;
  padding: 135px 0 105px;
  text-align: center;
}
