@font-face {
  font-family: Manrope;
  src: url(~assets/fonts/Manrope.ttf) format("opentype");
}

@font-face {
  font-family: YesevaOne;
  src: url(../../assets/fonts/YesevaOne.ttf) format("opentype");
}
