.footer-block {
  background: #A7BB61;
  padding: 70px 24px;
  margin-top: 100px;

  .top-block {
    display: flex;

    .left-child {
      width: 20%;

      img {
        width: 100%;
      }
    }

    .center-child {
      width: 35%;

      .tab {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
        padding-bottom: 8px;
        text-transform: capitalize;
      }
    }

    .right-child {
      width: 45%;

      .item {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #FFFFFF;
        padding-bottom: 8px;

        .top-info {
          padding-bottom: 8px;

        }

        img {
          margin-right: 10px;
        }

        span {

        }

        .map-container {
          ::ng-deep {
            .leaflet-control-attribution {
              font-size: 10px;
            }

            .leaflet-pane, .leaflet-gl-layer, .leaflet-proxy {
              transform: none !important;
              height: 170px !important;
              max-width: 100% !important;
              display: flex;
            }

            .leaflet-control-zoom {
              display: none;
            }

            canvas {
              max-width: 100% !important;
              height: 170px !important;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }

  .bottom-block {
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    margin-top: 40px;
    align-items: center;

    .left-child {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #FFFFFF;
    }

    .right-child {
      display: flex;
      align-items: center;

      .social {
        margin: 0 11px;
      }
    }
  }
}
