<div class="footer-block">
  <div class="top-block">
    <div class="left-child">
      <img src="../../../../assets/images/logo.svg">
    </div>
    <div class="center-child">
      <div class="tab" *ngFor="let item of sidebarTabs" [routerLink]="item.url">{{item.name}}</div>
    </div>
    <div class="right-child">
      <div class="contact" *ngFor="let contact of contacts">
        <div class="item" *ngIf="!contact.coordinates"><img [src]="contact.icon"><span>{{contact.title}}</span></div>
        <div class="item" *ngIf="contact.coordinates">
          <div class="top-info">
            <img [src]="contact.icon"><span>{{contact.title}}</span></div>

          <div class="map-container" #map></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-block">
    <div class="left-child">
      AMI 2020
    </div>
    <div class="right-child">
      <div class="social" *ngFor="let item of social"><a [href]="item.url"><img [src]="item.icon"></a></div>
    </div>
  </div>
</div>
